<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>Monster Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="styleMH"></div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>Your Health</h2>
      <div class="healthbar">
        <div class="healthbar__value" :style="stylePH"></div>
      </div>
    </section>
    <section id="gameover" class="container" v-if="winner">
      <h2>End !</h2>
      <h2 v-if="winner === 'Draw'">Draw !!!</h2>
      <h2 v-if="winner === 'Player'">Gewonnwn !!!</h2>
      <h2 v-if="winner === 'Monster'">Verloren !!!</h2>
      <button @click="playAgain">Play again ???</button>
    </section>
    <section id="controls" v-if="!winner">
      <button @click="playerAttack">ATTACK</button>
      <button @click="playerSAttack" :disabled="roundCount%3 !== 0">SPECIAL ATTACK</button>
      <button @click="playerHeal">HEAL</button>
      <button @click="playerSurrender">SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="log in logs"><span
            :class="{'log--player': log.logBy==='Player','log--monster': log.logBy==='Monster'}">{{log.logBy==='Player'?'Player':'Monster'}}</span>
          <span v-if="log.logAction==='SpecialAttack'"> - {{log.logAction}}: <span class="log--Sdamage"> {{log.logValue}}
            </span></span>
          <span v-if="log.logAction==='attack'"> - {{log.logAction}}: <span class="log--damage"> {{log.logValue}}
            </span></span>
            <span v-if="log.logAction==='heals'"> - {{log.logAction}}: <span class="log--heal"> {{log.logValue}}
            </span></span>
        </li>
      </ul>
    </section>
  </div>
</body>

</html>